@charset "UTF-8";

body {
    background-color: rgb(70, 142, 236);
    font: normal 1.3em Arial;
    padding: 0%;
    margin: 0%;
}

header {
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 75vw;
    margin: auto;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.350);
}

select {
    width: 170px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

a#otavio {
    text-decoration: none;
    color: white;
    padding: 2px;
    border-radius: 5px;
    transition: .7s;
}

a#otavio:hover {
    background-color: white;
    color: rgb(70, 142, 236);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.350);
}

a#otavio::after {
    content: '☚';
}

img#gh {
    width: 15px;
}