@charset "UTF-8";

@font-face {
    font-family: fonte-titulo;
    src: url(fontes/Passion_One.zip);
}

@font-face {
    font-family: fonte-poema;
    src: url(fontes/Sriracha.zip);
}

:root {
    
}

* {
    margin: 0%;
    padding: 0%;
}

main {
    max-width: 450px;
    margin: auto;
}

header {
    text-align: center;
    color: white;
    background-color: black;
    margin: auto;
}