@charset "UTF-8";

/*

  ----Typical Device Breakpoints---- 

 - Extra small devices (phones, 600px and down)
 - Small devices (portrait tablets and large phones, 600px and up)
 - Medium devices (landscape tablets, 768px and up)
 - Large devices (laptops/desktops, 992px and up)
 - Extra large devices (large laptops and desktops, 1200px and up)

*/

@media screen and (min-width: 768px) {
    body, html {
        background-image: linear-gradient(45deg, #439EE0 60%, #3077aa);
    }

    .container {
        flex-direction: row;
    }

    .cont2 {
        width: 400px;
        height: 350px;
    }
}